.side-card {
  flex: 1;
  width: 200px;
  position: relative;
  img {
    width: 200px;
  }
  &.left {
    padding: 16px 16px 0 48px;
    .name {
      right: 0;
      text-align: right;
      border-radius: 10px 0 0 48px;
      background: rgba(#F7B538, 0.85);
      color: #3c485a;
    }
    .background {
      right: 0;
      top: 0;
      justify-content: flex-end;
    }
  }
  &.right {
    display: flex;
    align-items: flex-end;
    padding: 26px 48px 0 16px;
    .name {
      left: 0;
      text-align: left;
      border-radius: 0 10px 48px 0;
      background: rgba(#DB7C26, 0.85);
    }
    .background {
      left: 0;
      bottom: 0;
      justify-content: flex-start;
      transform: rotate(180deg)
    }
  }
  .background {
    position: absolute;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: baseline;
    svg {
      width: 100%;
      background: transparent;
    }
  }
  .image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 220px;
    .name {
      position: absolute;
      bottom: 4px;
      padding: 8px;
      width: 70%;
      font-weight: 600;
    }
  }
  .decks {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    margin: 0 auto;
    position: relative;
    max-width: 180px;
    .decks-header, .decks-footer {
      display: flex;
      justify-content: space-between;

      h4 {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 0;
        font-size: 12px;
      }
    }
    .decks-header {
      padding: 8px 8px 4px 8px;
      border-bottom: 1px solid #780116;
    }
    .decks-footer {
      padding: 4px 8px 8px 8px;
      border-top: 1px solid #780116;
    }
  }
}